/**
    * @author  EliasDH Team
    * @see https://eliasdh.com
    * @since 01/01/2025
**/

@import url('https://eliasdehondt.github.io/EuroMap/assets/css/globel.css');

body { 
    margin: 0;
    font-family: Arial, sans-serif;
}

.index-map {
    height: 100vh;
    width: 100%;
}

h1 {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1000;
    background: var(--primary);
    color: var(--background);
    border-radius: 5px;
    padding: 10px;
}

.index-info {
    position: absolute;
    bottom: 10px; 
    right: 10px;
    background: var(--background);
    padding: 10px;
    z-index: 1000;
}

.index-controls {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 1000;
    padding: 10px;
}

.index-controls button {
    background: var(--primary);
    color: var(--background);
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.index-controls button:hover {
    background: var(--accent);
}